body{
  background-color: grey;
}

.main-heading{
  text-align: center;
}

nav{
  background-color: green;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list{
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item{
  margin: 0 10px;
}

a{
  text-decoration: none;
  list-style: none;
}

li{
  list-style: none;
}

main{
  background-color: lightblue;
  margin: 0 auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}